%p Hello Beef & Frog!

%p A user#{@sender.name.blank? ? "" : ", called " + @sender.name + ","} just made contact via the Contact page of the Beef & Frog site with the following content:

%p #{@sender.content}
