/* line 1, sass/application.scss */
body {
  margin: 0;
  padding: 0;
  font: 13px Helvetica, Arial, Freesans, Clean, Sans-serif;
  line-height: 18px;
  color: #000;
  background: black;
}

/* line 10, sass/application.scss */
h1 {
  font-weight: normal;
  font-family: Helvetica Neue, Arial, sans-serif;
}

/* line 15, sass/application.scss */
h2, h3 {
  font-weight: normal;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
}

/* line 20, sass/application.scss */
body, p, ol, ul, td {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 15px;
}

/* line 25, sass/application.scss */
img {
  border: 0;
}

/* line 29, sass/application.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 35, sass/application.scss */
hr {
  border: 0px;
  height: 20px;
  border-top: 1px solid #ccc;
}

/* line 41, sass/application.scss */
#admin {
  float: left;
  position: relative;
  top: -90px;
  left: 0px;
  font-size: 10px;
  color: blue;
  z-index: 10;
  line-height: 1px;
}
/* line 50, sass/application.scss */
#admin #title {
  float: left;
}
/* line 52, sass/application.scss */
#admin #title h3 {
  font-size: 12px;
}
/* line 56, sass/application.scss */
#admin #menu {
  float: right;
}
/* line 58, sass/application.scss */
#admin #menu p {
  font-size: 12px;
}

/* line 64, sass/application.scss */
.container {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
/* line 69, sass/application.scss */
.container.white {
  background: white;
}
/* line 72, sass/application.scss */
.container #header {
  padding: 0;
  text-align: left;
  width: 1050px;
  margin: 0 auto;
  height: 95px;
}
/* line 78, sass/application.scss */
.container #header .logo {
  float: left;
  margin: 0;
  padding: 5px 0 0 0;
  overflow: visible;
}
/* line 84, sass/application.scss */
.container #header .menu {
  clear: right;
  float: right;
  margin: 0;
  padding: 63px 150px 0 0;
  height: 22px;
}
/* line 90, sass/application.scss */
.container #header .menu .tab {
  float: left;
  margin: 0;
  display: block;
  margin-right: 1px;
}
/* line 95, sass/application.scss */
.container #header .menu .tab a {
  color: blue;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 20px;
}
/* line 101, sass/application.scss */
.container #header .menu .tab a:hover {
  color: red;
  background: black;
}
/* line 105, sass/application.scss */
.container #header .menu .tab a.current {
  background: black;
}
/* line 111, sass/application.scss */
.container #header .languages {
  position: relative;
  top: -80px;
  clear: right;
  float: right;
  margin: 0;
  padding: 0;
}
/* line 119, sass/application.scss */
.container #header .languages span.select {
  font-size: 11px;
  line-height: 20px;
  margin-right: 2px;
}
/* line 124, sass/application.scss */
.container #header .languages span.pt, .container #header .languages span.fr, .container #header .languages span.pt {
  width: 30px;
  height: 26px;
}
/* line 131, sass/application.scss */
.container #content {
  padding: 25px 0 0 0;
  text-align: left;
  width: 775px;
  margin: 0 auto;
}
/* line 136, sass/application.scss */
.container #content .admin {
  font-size: 11px;
  color: blue;
}
/* line 139, sass/application.scss */
.container #content .admin a {
  color: blue;
}
/* line 141, sass/application.scss */
.container #content .admin a:hover {
  color: blue;
  text-decoration: none;
}
/* line 147, sass/application.scss */
.container #content .blue {
  color: blue;
  font-size: 17px;
}
/* line 151, sass/application.scss */
.container #content h4 {
  color: #cccccc;
  padding: 0 0 5px 0;
  border-bottom: thin dotted #cccccc;
}
/* line 156, sass/application.scss */
.container #content #about, .container #content #prices, .container #content #apartments {
  padding: 0 0 10px 0;
}
/* line 158, sass/application.scss */
.container #content #about p, .container #content #prices p, .container #content #apartments p {
  font-size: 16px;
}
/* line 162, sass/application.scss */
.container #content .border {
  float: right;
  background: #e6e6e6;
}
/* line 165, sass/application.scss */
.container #content .border .box {
  margin: 8px;
  background: white;
  border: thin solid #bfbfbf;
}
/* line 169, sass/application.scss */
.container #content .border .box .image {
  margin: 5px;
}
/* line 175, sass/application.scss */
.container #content #about .border {
  height: 376px;
  width: 290px;
  margin: 0 0 10px 20px;
}
/* line 179, sass/application.scss */
.container #content #about .border .box {
  height: 360px;
  width: 274px;
}
/* line 186, sass/application.scss */
.container #content #apartments .border {
  width: 100%;
  margin: 0;
  font-size: 14px;
}
/* line 190, sass/application.scss */
.container #content #apartments .border .box {
  height: 165px;
  float: left;
  width: 758px;
}
/* line 194, sass/application.scss */
.container #content #apartments .border .box .image {
  float: left;
  margin: 5px;
}
/* line 198, sass/application.scss */
.container #content #apartments .border .box .title {
  float: left;
  width: 496px;
  margin: 5px 5px 5px 0;
  padding: 10px 5px 10px 10px;
  background-color: #cccccc;
  font-weight: bold;
  font-size: 15px;
  color: #404040;
}
/* line 207, sass/application.scss */
.container #content #apartments .border .box .title .button {
  float: right;
  padding: 2px;
}
/* line 210, sass/application.scss */
.container #content #apartments .border .box .title .button a {
  background-color: blue;
  padding: 7px 14px;
  text-decoration: none;
  color: white;
  font-size: 13px;
  border: thin solid grey;
}
/* line 217, sass/application.scss */
.container #content #apartments .border .box .title .button a:hover {
  background-color: #3333ff;
}
/* line 223, sass/application.scss */
.container #content #apartments .border .box .price {
  float: left;
  width: 356px;
}
/* line 226, sass/application.scss */
.container #content #apartments .border .box .price .note {
  font-size: 10px;
}
/* line 230, sass/application.scss */
.container #content #apartments .border .box .details {
  float: right;
  margin: 0 10px 0 0;
  text-align: right;
  width: 150px;
}
/* line 235, sass/application.scss */
.container #content #apartments .border .box .details p {
  margin: 0;
  padding: 0;
  line-height: 18px;
  color: black;
  font-size: 14px;
}
/* line 243, sass/application.scss */
.container #content #apartments .border .box .description {
  float: left;
  width: 356px;
  margin: 0;
  padding: 10px 0 0 0;
}
/* line 248, sass/application.scss */
.container #content #apartments .border .box .description p {
  font-size: 14px;
  color: black;
  margin: 0;
  padding: 5px 0 5px 0;
}
/* line 259, sass/application.scss */
.container #content #apartment .border, .container #content #contact .border {
  width: 100%;
  margin: 0;
  font-size: 14px;
}
/* line 263, sass/application.scss */
.container #content #apartment .border .header, .container #content #contact .border .header {
  margin: 10px;
}
/* line 266, sass/application.scss */
.container #content #apartment .border .header .back a, .container #content #contact .border .header .back a {
  color: blue;
  text-decoration: underline;
}
/* line 269, sass/application.scss */
.container #content #apartment .border .header .back a:hover, .container #content #contact .border .header .back a:hover {
  text-decoration: none;
}
/* line 274, sass/application.scss */
.container #content #apartment .border .header .title, .container #content #contact .border .header .title {
  margin: 5px 5px 5px 0;
  padding: 10px 5px 10px 0px;
  font-size: 32px;
  font-weight: bold;
  color: #4d4d4d;
}
/* line 281, sass/application.scss */
.container #content #apartment .border .header #availability, .container #content #contact .border .header #availability {
  float: right;
  padding: 32px 2px 2px 2px;
}
/* line 285, sass/application.scss */
.container #content #apartment .border .header #availability .button a, .container #content #contact .border .header #availability .button a {
  background-color: blue;
  padding: 7px 14px;
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: bold;
  border: thin solid grey;
}
/* line 293, sass/application.scss */
.container #content #apartment .border .header #availability .button a:hover, .container #content #contact .border .header #availability .button a:hover {
  background-color: #4d4dff;
}
/* line 299, sass/application.scss */
.container #content #apartment .border .header .details, .container #content #contact .border .header .details {
  color: red;
  font-size: 14px;
}
/* line 304, sass/application.scss */
.container #content #apartment .border .box, .container #content #contact .border .box {
  float: left;
  height: auto;
  width: 758px;
  margin: 0 8px 8px 8px;
}
/* line 309, sass/application.scss */
.container #content #apartment .border .box .summary, .container #content #contact .border .box .summary {
  float: left;
  margin: 8px;
}
/* line 312, sass/application.scss */
.container #content #apartment .border .box .summary #gallery, .container #content #contact .border .box .summary #gallery {
  float: left;
  padding: 0 0 10px 0;
  width: 320px;
  height: 240px;
}
/* line 318, sass/application.scss */
.container #content #apartment .border .box .summary .details, .container #content #contact .border .box .summary .details {
  float: left;
  width: 200px;
  margin: 0 10px;
  padding: 0 0 10px 0;
  border-right: thin solid #e6e6e6;
}
/* line 324, sass/application.scss */
.container #content #apartment .border .box .summary .details h2, .container #content #contact .border .box .summary .details h2 {
  padding: 0 0 5px 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
/* line 329, sass/application.scss */
.container #content #apartment .border .box .summary .details h2.others, .container #content #contact .border .box .summary .details h2.others {
  padding: 15px 0 5px 0;
}
/* line 333, sass/application.scss */
.container #content #apartment .border .box .summary .details p, .container #content #contact .border .box .summary .details p {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: black;
}
/* line 340, sass/application.scss */
.container #content #apartment .border .box .summary .details p span.note, .container #content #contact .border .box .summary .details p span.note {
  font-size: 10px;
}
/* line 346, sass/application.scss */
.container #content #apartment .border .box .summary .details .review a, .container #content #contact .border .box .summary .details .review a {
  font-size: 13px;
  color: green;
}
/* line 349, sass/application.scss */
.container #content #apartment .border .box .summary .details .review a:hover, .container #content #contact .border .box .summary .details .review a:hover {
  text-decoration: none;
  color: green;
}
/* line 354, sass/application.scss */
.container #content #apartment .border .box .summary .details .review .powered_by, .container #content #apartment .border .box .summary .details .review img, .container #content #contact .border .box .summary .details .review .powered_by, .container #content #contact .border .box .summary .details .review img {
  float: left;
  color: #999;
  font-size: 8px;
  margin-top: 4px;
  vertical-align: top;
  margin-right: 5px;
}
/* line 362, sass/application.scss */
.container #content #apartment .border .box .summary .details .review .powered_by, .container #content #contact .border .box .summary .details .review .powered_by {
  margin-top: 0px;
}
/* line 367, sass/application.scss */
.container #content #apartment .border .box .summary .location, .container #content #contact .border .box .summary .location {
  float: left;
  width: 200px;
  margin: 0;
  padding: 0 0 10px 0;
}
/* line 372, sass/application.scss */
.container #content #apartment .border .box .summary .location h2, .container #content #contact .border .box .summary .location h2 {
  padding: 0 0 5px 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
/* line 377, sass/application.scss */
.container #content #apartment .border .box .summary .location h2.others, .container #content #contact .border .box .summary .location h2.others {
  padding: 15px 0 5px 0;
}
/* line 381, sass/application.scss */
.container #content #apartment .border .box .summary .location p, .container #content #contact .border .box .summary .location p {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: black;
}
/* line 387, sass/application.scss */
.container #content #apartment .border .box .summary .location p.languages, .container #content #contact .border .box .summary .location p.languages {
  font-size: 10px;
  margin: 0;
  padding: 0 0 2px 0;
}
/* line 392, sass/application.scss */
.container #content #apartment .border .box .summary .location p a, .container #content #contact .border .box .summary .location p a {
  color: blue;
}
/* line 394, sass/application.scss */
.container #content #apartment .border .box .summary .location p a:hover, .container #content #contact .border .box .summary .location p a:hover {
  text-decoration: none;
}
/* line 399, sass/application.scss */
.container #content #apartment .border .box .summary .location .map, .container #content #contact .border .box .summary .location .map {
  height: 150px;
  width: 200px;
  margin: 0 auto;
}
/* line 405, sass/application.scss */
.container #content #apartment .border .box .summary .location .contact .languages, .container #content #contact .border .box .summary .location .contact .languages {
  font-style: italic;
}
/* line 412, sass/application.scss */
.container #content #apartment .border .description, .container #content #contact .border .description {
  float: left;
  margin: 8px 8px 0 8px;
}
/* line 415, sass/application.scss */
.container #content #apartment .border .description h2, .container #content #contact .border .description h2 {
  padding: 0 0 5px 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
/* line 421, sass/application.scss */
.container #content #apartment .border .description p, .container #content #contact .border .description p {
  padding: 5px 0;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: black;
}
/* line 429, sass/application.scss */
.container #content #apartment .border .availability, .container #content #contact .border .availability {
  float: left;
  width: 743px;
  margin: 0 7px;
  padding: 10px 0 0 0;
}
/* line 434, sass/application.scss */
.container #content #apartment .border .availability p, .container #content #contact .border .availability p {
  font-size: 14px;
  color: black;
}
/* line 437, sass/application.scss */
.container #content #apartment .border .availability p a, .container #content #contact .border .availability p a {
  color: blue;
}
/* line 439, sass/application.scss */
.container #content #apartment .border .availability p a:hover, .container #content #contact .border .availability p a:hover {
  color: blue;
  text-decoration: none;
}
/* line 445, sass/application.scss */
.container #content #apartment .border .availability h2, .container #content #contact .border .availability h2 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
/* line 450, sass/application.scss */
.container #content #apartment .border .availability h2.others, .container #content #contact .border .availability h2.others {
  padding: 15px 0 5px 0;
}
/* line 454, sass/application.scss */
.container #content #apartment .border .availability table, .container #content #contact .border .availability table {
  margin: 0 8px 0 0;
}
/* line 456, sass/application.scss */
.container #content #apartment .border .availability table .calendar, .container #content #contact .border .availability table .calendar {
  border-collapse: collapse;
  width: 240px;
}
/* line 459, sass/application.scss */
.container #content #apartment .border .availability table .calendar td, .container #content #apartment .border .availability table .calendar th, .container #content #contact .border .availability table .calendar td, .container #content #contact .border .availability table .calendar th {
  color: #ccc;
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
}
/* line 465, sass/application.scss */
.container #content #apartment .border .availability table .calendar tr, .container #content #contact .border .availability table .calendar tr {
  background-color: black;
}
/* line 468, sass/application.scss */
.container #content #apartment .border .availability table .calendar th, .container #content #contact .border .availability table .calendar th {
  border: 1px solid #ccc;
  background: #ccc;
  color: #666;
  text-align: left;
}
/* line 473, sass/application.scss */
.container #content #apartment .border .availability table .calendar th.monthName, .container #content #contact .border .availability table .calendar th.monthName {
  text-align: center;
  color: blue;
  font-size: 12px;
  font-weight: normal;
}
/* line 480, sass/application.scss */
.container #content #apartment .border .availability table .calendar td, .container #content #contact .border .availability table .calendar td {
  background: #f0f0f0;
  border: 1px solid #ddd;
}
/* line 483, sass/application.scss */
.container #content #apartment .border .availability table .calendar td.events, .container #content #contact .border .availability table .calendar td.events {
  background: #fff;
}
/* line 486, sass/application.scss */
.container #content #apartment .border .availability table .calendar td.today, .container #content #contact .border .availability table .calendar td.today {
  background-color: #4682b4;
  color: #666;
}
/* line 490, sass/application.scss */
.container #content #apartment .border .availability table .calendar td.otherMonth, .container #content #contact .border .availability table .calendar td.otherMonth {
  background: white;
}
/* line 493, sass/application.scss */
.container #content #apartment .border .availability table .calendar td.day, .container #content #contact .border .availability table .calendar td.day {
  background-color: white;
  color: black;
  font-weight: normal;
}
/* line 498, sass/application.scss */
.container #content #apartment .border .availability table .calendar td.booked, .container #content #contact .border .availability table .calendar td.booked {
  background-color: #C00;
  color: white;
  text-decoration: line-through;
}
/* line 503, sass/application.scss */
.container #content #apartment .border .availability table .calendar td.weekendDay, .container #content #contact .border .availability table .calendar td.weekendDay {
  background-color: #6666ff;
}
/* line 505, sass/application.scss */
.container #content #apartment .border .availability table .calendar td.weekendDay.booked, .container #content #contact .border .availability table .calendar td.weekendDay.booked {
  background-color: #E06666;
  color: white;
  text-decoration: line-through;
}
/* line 510, sass/application.scss */
.container #content #apartment .border .availability table .calendar td.weekendDay.otherMonth, .container #content #contact .border .availability table .calendar td.weekendDay.otherMonth {
  color: #8080ff;
}
/* line 515, sass/application.scss */
.container #content #apartment .border .availability table .calendar span, .container #content #contact .border .availability table .calendar span {
  display: block;
}
/* line 518, sass/application.scss */
.container #content #apartment .border .availability table .calendar caption, .container #content #contact .border .availability table .calendar caption {
  display: none;
}
/* line 526, sass/application.scss */
.container #content #photos {
  color: white;
}
/* line 530, sass/application.scss */
.container #content #contact .error_messages {
  width: 620px;
  border: 2px solid #CF0000;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
/* line 537, sass/application.scss */
.container #content #contact .error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  margin: 0;
  background-color: #c00;
  color: white;
}
/* line 546, sass/application.scss */
.container #content #contact .error_messages p {
  margin: 8px 10px;
}
/* line 549, sass/application.scss */
.container #content #contact .error_messages ul {
  margin: 15px 0;
}
/* line 551, sass/application.scss */
.container #content #contact .error_messages ul li {
  font-size: 13px;
}
/* line 557, sass/application.scss */
.container #content #contact p a {
  color: blue;
}
/* line 559, sass/application.scss */
.container #content #contact p a:hover {
  text-decoration: none;
}
/* line 566, sass/application.scss */
.container #content #booking .error_messages {
  width: 620px;
  border: 2px solid #CF0000;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
/* line 573, sass/application.scss */
.container #content #booking .error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  margin: 0;
  background-color: #c00;
  color: white;
}
/* line 582, sass/application.scss */
.container #content #booking .error_messages p {
  margin: 8px 10px;
}
/* line 585, sass/application.scss */
.container #content #booking .error_messages ul {
  margin: 15px 0;
}
/* line 587, sass/application.scss */
.container #content #booking .error_messages ul li {
  font-size: 13px;
}
/* line 593, sass/application.scss */
.container #content h2 {
  font-size: 22px;
  font-weight: bold;
  color: red;
}
/* line 598, sass/application.scss */
.container #content p {
  font-size: 15px;
  font-weight: normal;
  color: white;
  line-height: 20px;
}
/* line 603, sass/application.scss */
.container #content p .email {
  padding: 0 0 0 10px;
}
/* line 605, sass/application.scss */
.container #content p .email a {
  color: red;
}
/* line 607, sass/application.scss */
.container #content p .email a:hover {
  color: blue;
  text-decoration: none;
}
/* line 615, sass/application.scss */
.container #content .edit .field {
  width: 200px;
  line-height: 1.6em;
  font-size: 1em;
}
/* line 620, sass/application.scss */
.container #content .edit .form_submit, .container #content .edit .form_cancel {
  float: left;
  width: auto;
  margin-right: 10px;
}
/* line 625, sass/application.scss */
.container #content .edit #about_title_about {
  float: left;
  line-height: 1.6em;
  margin-bottom: 0.75em;
  font-size: 1em;
}
/* line 632, sass/application.scss */
.container #content table {
  border-collapse: none;
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 638, sass/application.scss */
.container #content table tbody tr {
  margin: 0;
  padding: 0;
  border: 0;
  width: 914px;
}
/* line 643, sass/application.scss */
.container #content table tbody tr td {
  margin: 0 auto;
  padding: 0 0 10px 0;
  border: 0;
  display: table-cell;
  vertical-align: top;
}
/* line 650, sass/application.scss */
.container #content table tbody tr td input#photo_image {
  color: white;
}
/* line 655, sass/application.scss */
.container #content table tbody tr td p.note {
  font-size: 11px;
  width: 430px;
  padding: 0;
  margin: 0;
  color: gray;
}
/* line 663, sass/application.scss */
.container #content table tbody tr td.label {
  color: white;
  width: 200px;
}
/* line 667, sass/application.scss */
.container #content table tbody tr td input, .container #content table tbody tr td textarea {
  font-size: 13px;
}
/* line 670, sass/application.scss */
.container #content table tbody tr td .radio {
  color: white;
}
/* line 678, sass/application.scss */
.container #footer {
  padding: 0;
  text-align: left;
  width: 775px;
  margin: 0 auto;
}
/* line 683, sass/application.scss */
.container #footer .copyright {
  clear: both;
  padding: 0;
  margin: 0 auto;
  text-align: left;
}
/* line 688, sass/application.scss */
.container #footer .copyright .text {
  margin: 0;
  padding: 30px 0;
  font-weight: bold;
  font-size: 11px;
  color: #333333;
}
/* line 694, sass/application.scss */
.container #footer .copyright .text a {
  text-decoration: none;
  color: #333333;
}
/* line 697, sass/application.scss */
.container #footer .copyright .text a:hover {
  text-decoration: underline;
  color: blue;
}

/* line 707, sass/application.scss */
#bread {
  padding: 20px 0 10px 0;
  margin: 0;
}
/* line 710, sass/application.scss */
#bread #crumbs {
  color: blue;
}
/* line 712, sass/application.scss */
#bread #crumbs a {
  color: blue;
}
/* line 714, sass/application.scss */
#bread #crumbs a:hover {
  color: red;
  text-decoration: none;
}

/*---------- FLASHES ----------*/
/* line 723, sass/application.scss */
#flash {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
/* line 729, sass/application.scss */
#flash .alert {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid red;
  background: #EEAAAA;
  color: red;
}
/* line 736, sass/application.scss */
#flash .notice {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #99CC33;
  background: #CCFF66;
  color: #008500;
}
