/* line 3, sass/application.scss */
body {
  margin: 0;
  padding: 0;
  font: 13px Helvetica, Arial, Freesans, Clean, Sans-serif;
  line-height: 18px;
  color: #000;
  background: #1a1a1a;
}

/* line 12, sass/application.scss */
h1 {
  font-weight: normal;
  font-family: Helvetica Neue, Arial, sans-serif;
}

/* line 17, sass/application.scss */
h2, h3 {
  font-weight: normal;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
}

/* line 22, sass/application.scss */
body, p, ol, ul, td {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 15px;
}

/* line 27, sass/application.scss */
img {
  border: 0;
}

/* line 31, sass/application.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 37, sass/application.scss */
hr {
  border: 0px;
  height: 20px;
  border-top: 1px solid #ccc;
}

/* line 43, sass/application.scss */
a {
  color: blue;
  text-decoration: underline;
}
/* line 46, sass/application.scss */
a:hover {
  text-decoration: none;
}

/* line 52, sass/application.scss */
#admin {
  float: left;
  position: relative;
  top: -90px;
  left: 0px;
  font-size: 10px;
  color: blue;
  z-index: 10;
  line-height: 1px;
}
/* line 61, sass/application.scss */
#admin #title {
  float: left;
}
/* line 63, sass/application.scss */
#admin #title h3 {
  font-size: 12px;
}
/* line 67, sass/application.scss */
#admin #menu {
  float: right;
}
/* line 69, sass/application.scss */
#admin #menu p {
  font-size: 12px;
}

/* line 75, sass/application.scss */
.container {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}
/* line 80, sass/application.scss */
.container.white {
  background: white;
}
/* line 83, sass/application.scss */
.container #header {
  padding: 0;
  text-align: left;
  width: 1050px;
  margin: 0 auto;
  height: 95px;
}
/* line 89, sass/application.scss */
.container #header .logo {
  float: left;
  margin: 0;
  padding: 5px 0 0 0;
  overflow: visible;
  z-index: 100;
}
/* line 96, sass/application.scss */
.container #header #portraits {
  position: relative;
  top: 42px;
  right: 0;
  width: 120px;
  background: transparent;
}
/* line 102, sass/application.scss */
.container #header #portraits .border {
  margin: 0;
  padding: 0;
}
/* line 105, sass/application.scss */
.container #header #portraits .border .image {
  margin: 10px 0 5px 0;
  padding: 0;
  width: 120px;
  height: 120px;
  text-align: center;
  float: left;
}
/* line 112, sass/application.scss */
.container #header #portraits .border .image img {
  padding: 0;
  margin: 0;
  vertical-align: text-top;
}
/* line 118, sass/application.scss */
.container #header #portraits .border .title {
  color: white;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
  float: both;
}
/* line 128, sass/application.scss */
.container #header .menu {
  clear: right;
  float: right;
  margin: 0;
  padding: 63px 150px 0 0;
  height: 22px;
}
/* line 134, sass/application.scss */
.container #header .menu .tab {
  float: left;
  margin: 0;
  display: block;
  margin-right: 1px;
}
/* line 139, sass/application.scss */
.container #header .menu .tab a {
  color: blue;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 20px;
}
/* line 145, sass/application.scss */
.container #header .menu .tab a:hover {
  color: red;
  background: #1a1a1a;
}
/* line 149, sass/application.scss */
.container #header .menu .tab a.current {
  background: #1a1a1a;
}
/* line 155, sass/application.scss */
.container #header .languages {
  position: relative;
  top: -80px;
  clear: right;
  float: right;
  margin: 0;
  padding: 0;
}
/* line 163, sass/application.scss */
.container #header .languages span.select {
  font-size: 11px;
  line-height: 20px;
  margin-right: 2px;
}
/* line 168, sass/application.scss */
.container #header .languages span.pt, .container #header .languages span.fr, .container #header .languages span.pt {
  width: 30px;
  height: 26px;
}
/* line 175, sass/application.scss */
.container #content {
  padding: 35px 0 0 0;
  text-align: left;
  width: 775px;
  margin: 0 auto;
}
/* line 182, sass/application.scss */
.container #content #authentication p a {
  color: blue;
}
/* line 184, sass/application.scss */
.container #content #authentication p a:hover {
  text-decoration: none;
}
/* line 189, sass/application.scss */
.container #content #authentication label {
  color: white;
}
/* line 192, sass/application.scss */
.container #content #authentication #error_explanation {
  width: 620px;
  border: 2px solid #CF0000;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
/* line 199, sass/application.scss */
.container #content #authentication #error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  margin: 0;
  background-color: #c00;
  color: white;
}
/* line 208, sass/application.scss */
.container #content #authentication #error_explanation p {
  margin: 8px 10px;
  color: white;
}
/* line 212, sass/application.scss */
.container #content #authentication #error_explanation ul {
  margin: 15px 0;
}
/* line 214, sass/application.scss */
.container #content #authentication #error_explanation ul li {
  font-size: 13px;
}
/* line 220, sass/application.scss */
.container #content .admin {
  font-size: 11px;
  color: blue;
}
/* line 223, sass/application.scss */
.container #content .admin a {
  color: blue;
}
/* line 225, sass/application.scss */
.container #content .admin a:hover {
  color: blue;
  text-decoration: none;
}
/* line 231, sass/application.scss */
.container #content .blue {
  color: blue;
  font-size: 17px;
}
/* line 235, sass/application.scss */
.container #content h4 {
  color: #cccccc;
  padding: 0 0 5px 0;
  border-bottom: thin dotted #cccccc;
}
/* line 240, sass/application.scss */
.container #content #about, .container #content #prices, .container #content #apartments, .container #content #apartment, .container #content #contact {
  margin: 0;
  padding: 0;
}
/* line 243, sass/application.scss */
.container #content #about p, .container #content #prices p, .container #content #apartments p, .container #content #apartment p, .container #content #contact p {
  font-size: 16px;
}
/* line 247, sass/application.scss */
.container #content .border {
  float: right;
  background: #e6e6e6;
}
/* line 250, sass/application.scss */
.container #content .border .box {
  margin: 8px;
  background: white;
  border: thin solid #bfbfbf;
}
/* line 254, sass/application.scss */
.container #content .border .box .image {
  margin: 5px;
}
/* line 260, sass/application.scss */
.container #content #about .border {
  width: 402px;
  margin: 39px 0 10px 20px;
}
/* line 263, sass/application.scss */
.container #content #about .border .box {
  float: left;
}
/* line 265, sass/application.scss */
.container #content #about .border .box .image {
  margin: 0;
  padding: 0;
  width: 180px;
  height: 120px;
}
/* line 270, sass/application.scss */
.container #content #about .border .box .image#block_1 {
  float: left;
  padding: 8px 4px 4px 8px;
  margin: 0;
}
/* line 275, sass/application.scss */
.container #content #about .border .box .image#block_2 {
  float: left;
  padding: 8px 8px 4px 4px;
  margin: 0;
}
/* line 280, sass/application.scss */
.container #content #about .border .box .image#block_3 {
  float: left;
  padding: 4px 4px 8px 8px;
  margin: 0;
}
/* line 285, sass/application.scss */
.container #content #about .border .box .image#block_4 {
  float: left;
  padding: 4px 8px 8px 4px;
  margin: 0;
}
/* line 295, sass/application.scss */
.container #content #apartments #below {
  float: left;
}
/* line 298, sass/application.scss */
.container #content #apartments .border {
  width: 100%;
  margin: 0;
  font-size: 14px;
  padding: 0 0 8px 0;
}
/* line 303, sass/application.scss */
.container #content #apartments .border .box {
  height: 165px;
  float: left;
  width: 758px;
  margin: 8px 8px 0 8px;
}
/* line 308, sass/application.scss */
.container #content #apartments .border .box .image {
  float: left;
  margin: 5px;
}
/* line 312, sass/application.scss */
.container #content #apartments .border .box .title {
  float: left;
  width: 496px;
  margin: 5px 5px 5px 0;
  padding: 10px 5px 10px 10px;
  background-color: #cccccc;
  font-weight: bold;
  font-size: 15px;
  color: #404040;
}
/* line 321, sass/application.scss */
.container #content #apartments .border .box .title .button {
  float: right;
  padding: 2px;
}
/* line 324, sass/application.scss */
.container #content #apartments .border .box .title .button a {
  background-color: blue;
  padding: 7px 14px;
  text-decoration: none;
  color: white;
  font-size: 13px;
  border: thin solid grey;
}
/* line 331, sass/application.scss */
.container #content #apartments .border .box .title .button a:hover {
  background-color: #3333ff;
}
/* line 337, sass/application.scss */
.container #content #apartments .border .box .price {
  float: left;
  width: 356px;
}
/* line 340, sass/application.scss */
.container #content #apartments .border .box .price .note {
  font-size: 10px;
}
/* line 344, sass/application.scss */
.container #content #apartments .border .box .details {
  float: right;
  margin: 0 10px 0 0;
  text-align: right;
  width: 150px;
}
/* line 349, sass/application.scss */
.container #content #apartments .border .box .details p {
  margin: 0;
  padding: 0;
  line-height: 18px;
  color: black;
  font-size: 14px;
}
/* line 357, sass/application.scss */
.container #content #apartments .border .box .description {
  float: left;
  width: 356px;
  margin: 0;
  padding: 10px 0 0 0;
}
/* line 362, sass/application.scss */
.container #content #apartments .border .box .description p {
  font-size: 14px;
  color: black;
  margin: 0;
  padding: 5px 0 5px 0;
}
/* line 372, sass/application.scss */
.container #content #apartment {
  padding: 15px 0 0 0;
}
/* line 374, sass/application.scss */
.container #content #apartment .border {
  width: 100%;
  margin: 0;
  font-size: 14px;
}
/* line 378, sass/application.scss */
.container #content #apartment .border .header {
  margin: 10px;
}
/* line 381, sass/application.scss */
.container #content #apartment .border .header .back a {
  color: blue;
  text-decoration: underline;
}
/* line 384, sass/application.scss */
.container #content #apartment .border .header .back a:hover {
  text-decoration: none;
}
/* line 389, sass/application.scss */
.container #content #apartment .border .header .title {
  margin: 5px 5px 5px 0;
  padding: 10px 5px 10px 0px;
  font-size: 32px;
  font-weight: bold;
  color: #4d4d4d;
}
/* line 396, sass/application.scss */
.container #content #apartment .border .header #availability {
  float: right;
  padding: 32px 2px 2px 2px;
}
/* line 400, sass/application.scss */
.container #content #apartment .border .header #availability .button a {
  background-color: blue;
  padding: 7px 14px;
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: bold;
  border: thin solid grey;
}
/* line 408, sass/application.scss */
.container #content #apartment .border .header #availability .button a:hover {
  background-color: #4d4dff;
}
/* line 414, sass/application.scss */
.container #content #apartment .border .header .details {
  color: red;
  font-size: 14px;
}
/* line 419, sass/application.scss */
.container #content #apartment .border .box {
  float: left;
  height: auto;
  width: 758px;
  margin: 0 8px 8px 8px;
}
/* line 424, sass/application.scss */
.container #content #apartment .border .box .summary {
  float: left;
  margin: 8px;
}
/* line 427, sass/application.scss */
.container #content #apartment .border .box .summary #gallery {
  float: left;
  padding: 0 0 10px 0;
  width: 320px;
  height: 240px;
}
/* line 433, sass/application.scss */
.container #content #apartment .border .box .summary .details {
  float: left;
  width: 200px;
  margin: 0 10px;
  padding: 0 0 10px 0;
  border-right: thin solid #e6e6e6;
}
/* line 439, sass/application.scss */
.container #content #apartment .border .box .summary .details h2 {
  padding: 0 0 5px 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
/* line 444, sass/application.scss */
.container #content #apartment .border .box .summary .details h2.others {
  padding: 15px 0 5px 0;
}
/* line 448, sass/application.scss */
.container #content #apartment .border .box .summary .details p {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: black;
}
/* line 455, sass/application.scss */
.container #content #apartment .border .box .summary .details p span.note {
  font-size: 10px;
}
/* line 461, sass/application.scss */
.container #content #apartment .border .box .summary .details .review a {
  font-size: 13px;
  color: green;
}
/* line 464, sass/application.scss */
.container #content #apartment .border .box .summary .details .review a:hover {
  text-decoration: none;
  color: green;
}
/* line 469, sass/application.scss */
.container #content #apartment .border .box .summary .details .review .powered_by, .container #content #apartment .border .box .summary .details .review img {
  float: left;
  color: #999;
  font-size: 8px;
  margin-top: 4px;
  vertical-align: top;
  margin-right: 5px;
}
/* line 477, sass/application.scss */
.container #content #apartment .border .box .summary .details .review .powered_by {
  margin-top: 0px;
}
/* line 482, sass/application.scss */
.container #content #apartment .border .box .summary .location {
  float: left;
  width: 200px;
  margin: 0;
  padding: 0 0 10px 0;
}
/* line 487, sass/application.scss */
.container #content #apartment .border .box .summary .location h2 {
  padding: 0 0 5px 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
/* line 492, sass/application.scss */
.container #content #apartment .border .box .summary .location h2.others {
  padding: 15px 0 5px 0;
}
/* line 496, sass/application.scss */
.container #content #apartment .border .box .summary .location p {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: black;
}
/* line 502, sass/application.scss */
.container #content #apartment .border .box .summary .location p.languages {
  font-size: 10px;
  margin: 0;
  padding: 0 0 2px 0;
}
/* line 507, sass/application.scss */
.container #content #apartment .border .box .summary .location p a {
  color: blue;
}
/* line 509, sass/application.scss */
.container #content #apartment .border .box .summary .location p a:hover {
  text-decoration: none;
}
/* line 514, sass/application.scss */
.container #content #apartment .border .box .summary .location .map {
  height: 150px;
  width: 200px;
  margin: 0 auto;
}
/* line 520, sass/application.scss */
.container #content #apartment .border .box .summary .location .contact .languages {
  font-style: italic;
}
/* line 527, sass/application.scss */
.container #content #apartment .border .description {
  float: left;
  margin: 8px 8px 0 8px;
}
/* line 530, sass/application.scss */
.container #content #apartment .border .description h2 {
  padding: 0 0 5px 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
/* line 536, sass/application.scss */
.container #content #apartment .border .description p {
  padding: 5px 0;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: black;
}
/* line 544, sass/application.scss */
.container #content #apartment .border .description_long {
  float: left;
  margin: 8px 8px 8px 8px;
}
/* line 547, sass/application.scss */
.container #content #apartment .border .description_long h2 {
  padding: 0 0 5px 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
/* line 553, sass/application.scss */
.container #content #apartment .border .description_long p {
  padding: 0;
  margin: 5px 0;
  font-size: 13px;
  line-height: 18px;
  color: black;
}
/* line 561, sass/application.scss */
.container #content #apartment .border .availability {
  float: left;
  width: 743px;
  margin: 0 7px;
  padding: 10px 0 0 0;
}
/* line 566, sass/application.scss */
.container #content #apartment .border .availability p {
  font-size: 14px;
  color: black;
}
/* line 569, sass/application.scss */
.container #content #apartment .border .availability p a {
  color: blue;
}
/* line 571, sass/application.scss */
.container #content #apartment .border .availability p a:hover {
  color: blue;
  text-decoration: none;
}
/* line 577, sass/application.scss */
.container #content #apartment .border .availability h2 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
/* line 582, sass/application.scss */
.container #content #apartment .border .availability h2.others {
  padding: 15px 0 5px 0;
}
/* line 586, sass/application.scss */
.container #content #apartment .border .availability #key {
  margin: auto 0 15px 150px;
  width: 500px;
  height: 20px;
  padding: 0;
}
/* line 591, sass/application.scss */
.container #content #apartment .border .availability #key table {
  padding: 0;
  margin: 0 8px 0 0;
}
/* line 594, sass/application.scss */
.container #content #apartment .border .availability #key table.key {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  background-color: white;
}
/* line 601, sass/application.scss */
.container #content #apartment .border .availability #key table.key td {
  width: 22px;
  height: 22px;
  vertical-align: middle;
}
/* line 605, sass/application.scss */
.container #content #apartment .border .availability #key table.key td img {
  height: 20px;
  width: 20px;
  border: 1px solid #ddd;
}
/* line 610, sass/application.scss */
.container #content #apartment .border .availability #key table.key td.day {
  background-color: white;
  color: black;
  font-weight: normal;
}
/* line 615, sass/application.scss */
.container #content #apartment .border .availability #key table.key td.booked {
  background-color: #C00;
  color: black;
  text-decoration: line-through;
}
/* line 619, sass/application.scss */
.container #content #apartment .border .availability #key table.key td.booked.checkin {
  background: transparent url("/images/checkin_day.jpg") no-repeat top right;
}
/* line 622, sass/application.scss */
.container #content #apartment .border .availability #key table.key td.booked.checkout {
  background: transparent url("/images/checkout_day.jpg") no-repeat top right;
}
/* line 626, sass/application.scss */
.container #content #apartment .border .availability #key table.key td.weekendDay {
  background-color: #6666ff;
}
/* line 628, sass/application.scss */
.container #content #apartment .border .availability #key table.key td.weekendDay.booked {
  background-color: #C00;
}
/* line 630, sass/application.scss */
.container #content #apartment .border .availability #key table.key td.weekendDay.booked.checkin {
  background: transparent url("/images/checkin_weekend_day.jpg") no-repeat top right;
}
/* line 633, sass/application.scss */
.container #content #apartment .border .availability #key table.key td.weekendDay.booked.checkout {
  background: transparent url("/images/checkout_weekend_day.jpg") no-repeat top right;
}
/* line 637, sass/application.scss */
.container #content #apartment .border .availability #key table.key td.weekendDay.otherMonth {
  color: #8080ff;
}
/* line 642, sass/application.scss */
.container #content #apartment .border .availability #key table.key span {
  display: block;
}
/* line 645, sass/application.scss */
.container #content #apartment .border .availability #key table.key caption {
  display: none;
}
/* line 651, sass/application.scss */
.container #content #apartment .border .availability table {
  margin: 0 8px 0 0;
}
/* line 653, sass/application.scss */
.container #content #apartment .border .availability table .calendar {
  border-collapse: collapse;
  width: 240px;
}
/* line 656, sass/application.scss */
.container #content #apartment .border .availability table .calendar td, .container #content #apartment .border .availability table .calendar th {
  color: #ccc;
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
}
/* line 662, sass/application.scss */
.container #content #apartment .border .availability table .calendar tr {
  background-color: white;
}
/* line 665, sass/application.scss */
.container #content #apartment .border .availability table .calendar th {
  border: 1px solid #ccc;
  background: #ccc;
  color: #666;
  text-align: left;
}
/* line 670, sass/application.scss */
.container #content #apartment .border .availability table .calendar th.monthName {
  text-align: center;
  color: blue;
  font-size: 12px;
  font-weight: normal;
}
/* line 677, sass/application.scss */
.container #content #apartment .border .availability table .calendar td {
  background: #f0f0f0;
  border: 1px solid #ddd;
}
/* line 680, sass/application.scss */
.container #content #apartment .border .availability table .calendar td.otherMonth {
  background: white;
}
/* line 683, sass/application.scss */
.container #content #apartment .border .availability table .calendar td.day {
  background-color: white;
  color: black;
  font-weight: normal;
}
/* line 688, sass/application.scss */
.container #content #apartment .border .availability table .calendar td.booked {
  background-color: #C00;
  color: black;
  text-decoration: line-through;
}
/* line 692, sass/application.scss */
.container #content #apartment .border .availability table .calendar td.booked.checkin {
  background: transparent url("/images/checkin_day.jpg") no-repeat top right;
}
/* line 695, sass/application.scss */
.container #content #apartment .border .availability table .calendar td.booked.checkout {
  background: transparent url("/images/checkout_day.jpg") no-repeat top right;
}
/* line 699, sass/application.scss */
.container #content #apartment .border .availability table .calendar td.weekendDay {
  background-color: white;
}
/* line 701, sass/application.scss */
.container #content #apartment .border .availability table .calendar td.weekendDay.booked {
  background-color: #C00;
}
/* line 703, sass/application.scss */
.container #content #apartment .border .availability table .calendar td.weekendDay.booked.checkin {
  background: transparent url("/images/checkin_day.jpg") no-repeat top right;
}
/* line 706, sass/application.scss */
.container #content #apartment .border .availability table .calendar td.weekendDay.booked.checkout {
  background: transparent url("/images/checkout_day.jpg") no-repeat top right;
}
/* line 712, sass/application.scss */
.container #content #apartment .border .availability table .calendar span {
  display: block;
}
/* line 715, sass/application.scss */
.container #content #apartment .border .availability table .calendar caption {
  display: none;
}
/* line 723, sass/application.scss */
.container #content #photos {
  color: white;
}
/* line 727, sass/application.scss */
.container #content #contact table, .container #content #photos table, .container #content #bookings table {
  border-collapse: none;
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 733, sass/application.scss */
.container #content #contact table tbody tr, .container #content #photos table tbody tr, .container #content #bookings table tbody tr {
  margin: 0;
  padding: 0;
  border: 0;
  width: 914px;
}
/* line 738, sass/application.scss */
.container #content #contact table tbody tr td, .container #content #photos table tbody tr td, .container #content #bookings table tbody tr td {
  margin: 0 auto;
  padding: 0 0 10px 0;
  border: 0;
  display: table-cell;
  vertical-align: top;
}
/* line 745, sass/application.scss */
.container #content #contact table tbody tr td input#photo_image, .container #content #photos table tbody tr td input#photo_image, .container #content #bookings table tbody tr td input#photo_image {
  color: white;
}
/* line 750, sass/application.scss */
.container #content #contact table tbody tr td p.note, .container #content #photos table tbody tr td p.note, .container #content #bookings table tbody tr td p.note {
  font-size: 11px;
  width: 430px;
  padding: 0;
  margin: 0;
  color: gray;
}
/* line 758, sass/application.scss */
.container #content #contact table tbody tr td.label, .container #content #photos table tbody tr td.label, .container #content #bookings table tbody tr td.label {
  color: white;
  width: 200px;
}
/* line 762, sass/application.scss */
.container #content #contact table tbody tr td input, .container #content #contact table tbody tr td textarea, .container #content #photos table tbody tr td input, .container #content #photos table tbody tr td textarea, .container #content #bookings table tbody tr td input, .container #content #bookings table tbody tr td textarea {
  font-size: 13px;
}
/* line 765, sass/application.scss */
.container #content #contact table tbody tr td .radio, .container #content #photos table tbody tr td .radio, .container #content #bookings table tbody tr td .radio {
  color: white;
}
/* line 772, sass/application.scss */
.container #content #contact .error_messages, .container #content #photos .error_messages, .container #content #bookings .error_messages {
  width: 620px;
  border: 2px solid #CF0000;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
/* line 779, sass/application.scss */
.container #content #contact .error_messages h2, .container #content #photos .error_messages h2, .container #content #bookings .error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  margin: 0;
  background-color: #c00;
  color: white;
}
/* line 788, sass/application.scss */
.container #content #contact .error_messages p, .container #content #photos .error_messages p, .container #content #bookings .error_messages p {
  margin: 8px 10px;
}
/* line 791, sass/application.scss */
.container #content #contact .error_messages ul, .container #content #photos .error_messages ul, .container #content #bookings .error_messages ul {
  margin: 15px 0;
}
/* line 793, sass/application.scss */
.container #content #contact .error_messages ul li, .container #content #photos .error_messages ul li, .container #content #bookings .error_messages ul li {
  font-size: 13px;
}
/* line 799, sass/application.scss */
.container #content #contact p a, .container #content #photos p a, .container #content #bookings p a {
  color: blue;
}
/* line 801, sass/application.scss */
.container #content #contact p a:hover, .container #content #photos p a:hover, .container #content #bookings p a:hover {
  text-decoration: none;
}
/* line 808, sass/application.scss */
.container #content #booking .error_messages {
  width: 620px;
  border: 2px solid #CF0000;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
/* line 815, sass/application.scss */
.container #content #booking .error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  margin: 0;
  background-color: #c00;
  color: white;
}
/* line 824, sass/application.scss */
.container #content #booking .error_messages p {
  margin: 8px 10px;
}
/* line 827, sass/application.scss */
.container #content #booking .error_messages ul {
  margin: 15px 0;
}
/* line 829, sass/application.scss */
.container #content #booking .error_messages ul li {
  font-size: 13px;
}
/* line 835, sass/application.scss */
.container #content h2 {
  font-size: 22px;
  font-weight: bold;
  color: red;
}
/* line 840, sass/application.scss */
.container #content p {
  font-size: 15px;
  font-weight: normal;
  color: white;
  line-height: 20px;
}
/* line 845, sass/application.scss */
.container #content p .email {
  padding: 0 0 0 10px;
}
/* line 847, sass/application.scss */
.container #content p .email a {
  color: red;
}
/* line 849, sass/application.scss */
.container #content p .email a:hover {
  color: blue;
  text-decoration: none;
}
/* line 857, sass/application.scss */
.container #content .edit .field {
  width: 200px;
  line-height: 1.6em;
  font-size: 1em;
}
/* line 862, sass/application.scss */
.container #content .edit .form_submit, .container #content .edit .form_cancel {
  float: left;
  width: auto;
  margin-right: 10px;
}
/* line 867, sass/application.scss */
.container #content .edit #about_title_about {
  float: left;
  line-height: 1.6em;
  margin-bottom: 0.75em;
  font-size: 1em;
}
/* line 875, sass/application.scss */
.container #content #calendar table {
  border-collapse: none;
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 881, sass/application.scss */
.container #content #calendar table tbody tr {
  margin: 0;
  padding: 0;
  border: 0;
  width: 914px;
}
/* line 886, sass/application.scss */
.container #content #calendar table tbody tr td {
  margin: 0 auto;
  padding: 0 0 10px 0;
  border: 0;
  display: table-cell;
  vertical-align: top;
}
/* line 893, sass/application.scss */
.container #content #calendar table tbody tr td input#photo_image {
  color: white;
}
/* line 898, sass/application.scss */
.container #content #calendar table tbody tr td p.note {
  font-size: 11px;
  width: 430px;
  padding: 0;
  margin: 0;
  color: gray;
}
/* line 906, sass/application.scss */
.container #content #calendar table tbody tr td.label {
  color: white;
  width: 200px;
}
/* line 910, sass/application.scss */
.container #content #calendar table tbody tr td input, .container #content #calendar table tbody tr td textarea {
  font-size: 13px;
}
/* line 913, sass/application.scss */
.container #content #calendar table tbody tr td .radio {
  color: white;
}
/* line 922, sass/application.scss */
.container #footer {
  padding: 0;
  width: 775px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 11px;
  color: gray;
}
/* line 929, sass/application.scss */
.container #footer .copyright {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0 auto;
  text-align: left;
}
/* line 935, sass/application.scss */
.container #footer .copyright .text {
  margin: 0;
  padding: 30px 0;
}
/* line 938, sass/application.scss */
.container #footer .copyright .text .beef {
  color: red;
}
/* line 941, sass/application.scss */
.container #footer .copyright .text .frog {
  color: blue;
}
/* line 944, sass/application.scss */
.container #footer .copyright .text a {
  text-decoration: none;
  color: gray;
}
/* line 947, sass/application.scss */
.container #footer .copyright .text a:hover {
  border-bottom: thin solid gray;
}
/* line 953, sass/application.scss */
.container #footer .madeby {
  float: right;
  width: 50%;
}
/* line 956, sass/application.scss */
.container #footer .madeby .text {
  text-align: right;
  margin: 0;
  padding: 30px 0;
}
/* line 960, sass/application.scss */
.container #footer .madeby .text a {
  text-decoration: none;
}
/* line 962, sass/application.scss */
.container #footer .madeby .text a .roc {
  color: orange;
}
/* line 965, sass/application.scss */
.container #footer .madeby .text a .rabbit {
  color: #CCC;
}
/* line 968, sass/application.scss */
.container #footer .madeby .text a .com {
  color: white;
  font-size: 11px;
}
/* line 972, sass/application.scss */
.container #footer .madeby .text a .photos {
  color: white;
  font-size: 11px;
}
/* line 976, sass/application.scss */
.container #footer .madeby .text a:hover {
  border-bottom: thin solid gray;
}

/* line 985, sass/application.scss */
#bread {
  padding: 20px 0 10px 0;
  margin: 0;
}
/* line 988, sass/application.scss */
#bread #crumbs {
  color: blue;
}
/* line 990, sass/application.scss */
#bread #crumbs a {
  color: blue;
}
/* line 992, sass/application.scss */
#bread #crumbs a:hover {
  color: red;
  text-decoration: none;
}

/*---------- FLASHES ----------*/
/* line 1001, sass/application.scss */
#flash {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
/* line 1007, sass/application.scss */
#flash .alert {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid red;
  background: #EEAAAA;
  color: red;
}
/* line 1014, sass/application.scss */
#flash .notice {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #99CC33;
  background: #CCFF66;
  color: #008500;
}

/* line 1023, sass/application.scss */
table {
  border-collapse: none;
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 1030, sass/application.scss */
table.admin tbody tr {
  margin: 0;
  padding: 0;
  border: 0;
  width: 914px;
}
/* line 1035, sass/application.scss */
table.admin tbody tr td {
  margin: 0 auto;
  padding: 0 0 10px 0;
  border: 0;
  display: table-cell;
  vertical-align: top;
}
/* line 1042, sass/application.scss */
table.admin tbody tr td input#photo_image {
  color: white;
}
/* line 1047, sass/application.scss */
table.admin tbody tr td p.note {
  font-size: 11px;
  width: 430px;
  padding: 0;
  margin: 0;
  color: gray;
}
/* line 1055, sass/application.scss */
table.admin tbody tr td.label {
  color: white;
  width: 200px;
}
/* line 1059, sass/application.scss */
table.admin tbody tr td input, table.admin tbody tr td textarea {
  font-size: 13px;
}
/* line 1062, sass/application.scss */
table.admin tbody tr td .radio {
  color: white;
}
