.menu
	.tab
		=link_to_unless_current I18n.t(:about, :scope => [:general, :menu]), about_index_path(I18n.t(:language, :scope => [:general])) do
			=link_to I18n.t(:about, :scope => [:general, :menu]), about_index_path(I18n.t(:language, :scope => [:general])), :class => "current"
	.tab
		=link_to_unless_current I18n.t(:contact, :scope => [:general, :menu]), apartments_index_path(I18n.t(:language, :scope => [:general])) do
			=link_to I18n.t(:contact, :scope => [:general, :menu]), apartments_index_path(I18n.t(:language, :scope => [:general])), :class => "current"
	.tab
		=link_to_unless_current I18n.t(:contact, :scope => [:general, :menu]), contact_index_path(I18n.t(:language, :scope => [:general])) do
			=link_to I18n.t(:contact, :scope => [:general, :menu]), contact_index_path(I18n.t(:language, :scope => [:general])), :class => "current"
				
	.languages
		%span.en
			= link_to image_tag("en.jpg", :width => "30px", :height => "20px", :border => 0), about_index_path("en")
		%span.pt
			= link_to image_tag("pt.jpg", :width => "30px", :height => "20px", :border => 0), about_index_path("pt")
		%span.fr
			= link_to image_tag("fr.jpg", :width => "30px", :height => "20px", :border => 0), about_index_path("fr")
