.madeby
	.text
		website designed by 
		= link_to "http://rocrabbit.com", :target => "_blank" do
			%span.roc>< roc
			%span.rabbit>< rabbit
			%span.com>< .com
		%br/
		== & photos by 
		%span.photos Ricardo Geraldes