.menu
	.tab
		=link_to_unless_current I18n.t(:about, :scope => [:general, :menu]), about_index_path(I18n.t(:language, :scope => [:general])) do
			=link_to I18n.t(:about, :scope => [:general, :menu]), about_index_path(I18n.t(:language, :scope => [:general])), :class => "current"
	.tab
		- if controller_name == "apartments"
			= link_to I18n.t(:apartments, :scope => [:general, :menu]), apartments_path(I18n.t(:language, :scope => [:general])), :class => "current"
		- else
			= link_to I18n.t(:apartments, :scope => [:general, :menu]), apartments_path(I18n.t(:language, :scope => [:general]))
	.tab
		=link_to "Blog", "http://beefandfrog.wordpress.com", :target => "_blank"
	.tab
		- if controller_name == "supports"
			=link_to I18n.t(:contact, :scope => [:general, :menu]), contact_path(I18n.t(:language, :scope => [:general])), :class => "current"
		- else
			= link_to I18n.t(:contact, :scope => [:general, :menu]), contact_path(I18n.t(:language, :scope => [:general]))
