- content_for :title do
	= I18n.t :welcome, :scope => [:general]

#about
	.border
		.box
			.image= image_tag "building_about.jpg", :width => "264px", :alt => "Beef and Frog | Very Busy in Lisbon"
	%h2.title= markdown(resource.about).html_safe
				