.map_container {
	border: 0;
  padding: 0;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 200px;
}

.gmaps4rails_map {
  width: 200px;
  height: 150px;
}