- content_for :title do
	= I18n.t :title, :scope => [:apartments]
	
#apartments
	= markdown(@about.apartments).html_safe
	
	= @apartments.each do |apartment|
		.border
			.box
				.image
				.title
					.button
				.price
				.details
				.description